/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(57, 101, 245);
    font-family: Roboto, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column ;
}

#container {
    background-color: rgb(126, 117, 117);
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    max-width: 75%;
}
/* Logo and name section */
.logo {
    height: 60px; 
    padding-right: 5px;  
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}
/* Start button section */
#start {
    background:tomato;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}
.hide {
    display: none;
}
/* Question and answer section */
#question {
    font-size: 20px;
    font-family: Merienda, cursive;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.button {
    background-color:rgb(57, 101, 245);
    border: 1px solid white;
    font-family: Merienda, cursive;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
}

button:hover {
    border-color: rgb(12, 12, 12);
}
/* Controls section witx exit and next button */
#controls {
    display:flex;
    align-items: center;
}

.exit, .next {
    background: tomato;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}