@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(57, 101, 245);
    font-family: Roboto, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column ;
}